<div *ngIf="!followers && !followerError">
  <div class="lds-ripple loader">
    <div></div>
    <div></div>
  </div>
</div>
<div *ngIf="followers && followers.length">
  <div *ngFor="let follower of followers">
    <div class="card mb-3 py-2">
      <div class="row no-gutters">
        <div class="col-md-2">
          <img
            src="{{ follower.profile_image_url }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5
              class="card-title text-dark d-flex justify-content-md-start justify-content-lg-start justify-content-sm-start"
            >
              {{ follower.name }}
              <span
                class="text-muted ml-4"
                style="font-size:14px;margin-top:5px"
              >
                @{{ follower.screen_name }}
              </span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="followerError">
  <h1 class="'text-muted' my-4">Please try again after sometime</h1>
</div>
